<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3 align ="center">Registration Page</h3>
<form th:action="@{/save-user}" method="post">
		<table align="center">
		
			<tr>
				<td>Username:</td>
				<td><input type="text" name="username" value=""></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" name="password"></td>
			</tr>
			<tr>
				<td>User Role:</td>
				<td><input type="text" name="role"></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="submit">
				</td>
			</tr>
		</table>
	</form>

</body>
</html>